@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Nanum+Gothic:wght@400;700;800&display=swap');

* {
    font-family: 'Dancing Script', cursive;
    font-family: 'Nanum Gothic', sans-serif;
}

img {
    vertical-align: middle;
}

body {
    margin: 0;
    border: 0;
}

header {
    width: 100%;
    height: 40px;
    margin: 0 auto;
    border-bottom: 1px solid silver;
}

header>div {
    position: relative;
    width: 1100px;
    height: 100%;
    margin: 0 auto;
    /* border: 1px dashed red; */
}

header .left {
    position: relative;
    width: 50px;
    height: 100%;
    /* border: 1px solid blue; */
    text-align: center;
    line-height: 40px;
    float: left;
}

header .right {
    width: 186px;
    height: 100%;
    /* border: 1px solid blue; */
    float: right;
    text-align: center;
    line-height: 40px;
}

.ul01 {
    list-style: none;
    padding: 0;
    margin: 0;
    float: right;
}

.ul01 li {
    float: left;
    width: 60px;
    text-align: center;
    /* border: 1px dashed green; */
    line-height: 40px;
}

section {
    width: 100%;
    height: 100px;
    border-bottom: 1px solid silver;
}

section>div {
    position: relative;
    width: 1100px;
    height: 100%;
    margin: 0 auto;
    /* border: 1px solid red; */
}

section>div>div {
    top: 30px;
    position: absolute;
    width: 100%;
    height: 40px;
    /* border: 1px solid black; */
}

section .left {
    width: 700px;
    float: left;
}

section .right {
    width: 200px;
    float: right;
}

#menuList {
    float: left;
}

#menuList a {
    text-decoration: none;
}

section:nth-of-type(1) #menuList a {
    color: black;
}

#menuList a:active {
    font-weight: bold;
}

section .totalSearch {
    margin-top: 5px;
    width: 200px;
    height: 30px;
    border: 1px solid silver;
    line-height: 30px;
}

.totalSearch input::placeholder {
    color: silver;
}

.totalSearch input {
    color: black;
    border: 0;
    outline: none;
    margin-left: 2px;
    width: 170px;
    font-size: 90%;
}

.totalSearch a {
    float: right;
    margin-right: 3px;
}

.totalSearch img {
    margin-bottom: 2px;
}

section:nth-of-type(2) {
    height: 80px;
}

section:nth-of-type(2)>div {
    /* border: 1px solid blue; */
    position: relative;
    height: 78px;
    top: 0px;
}

section:nth-of-type(2)>div>div {
    position: relative;
    top: 20px;
    height: 60px;
}

section:nth-of-type(2) .left {
    width: 600px;
    /* border: 1px solid blue; */
    height: 60px;
}

section:nth-of-type(2) .right {
    width: 200px;
    /* border: 1px solid blue; */
    height: 60px;
}

section:nth-of-type(2) #menuList {
    height: 60px;
}

section:nth-of-type(2) .left #menuList li,
section:nth-of-type(2) .right #menuList li {
    position: relative;
    font-size: 80%;
    height: 57px;
    margin: 0;
    padding: 0;
    text-align: center;
}

section:nth-of-type(2) .left #menuList li:nth-of-type(1) {
    width: 20px;
    border-bottom: 3px solid red;
}
section:nth-of-type(2) .left #menuList li:nth-of-type(1) a {
    color:red;
}

section:nth-of-type(2) .left #menuList li:nth-of-type(2) {
    width: 120px;
}

section:nth-of-type(2) .left #menuList li:nth-of-type(3) {
    width: 80px;
}

section:nth-of-type(2) .left #menuList li:nth-of-type(4) {
    width: 60px;
}

section:nth-of-type(2) .left #menuList li:nth-of-type(5) {
    width: 150px;
}

section:nth-of-type(2) .left #menuList li:nth-of-type(5) a {
    color: red;
}

section:nth-of-type(2) .left #menuList li:hover a,
section:nth-of-type(2) .right #menuList li:hover a {
    color: red;
}
section:nth-of-type(2) .left #menuList li:hover,
section:nth-of-type(2) .right #menuList li:hover {
    border-bottom: 3px solid red;
}

section:nth-of-type(2) .left #menuList li a,
section:nth-of-type(2) .right #menuList li a {
    color: black;
}

section:nth-of-type(2) .left #menuList li img {
    margin-bottom: 2px;
    margin-right: 2px;
}

section:nth-of-type(2) .right {
    width: 60px;
}